 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/77143220e0ed2fc7fb6de2985a0a0605.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1031px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 938px;
  min-height: 953px;
  height: auto;
  margin: 39px auto 39px 75px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-image: none;
  width: 548px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 6rem;
  width: 513px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 288px;
  height: 159px;
  margin: -181px auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 102px;
  transform-origin: left center 0px;
  margin: 65px auto 0;
}

.u-section-1 .u-text-3 {
  width: 678px;
  line-height: 1.01;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 419px;
  height: 419px;
  margin: 61px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 642px;
  margin: 36px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-1 .u-group-1 {
    min-height: 968px;
    margin-left: auto;
    margin-bottom: 2px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    width: 276px;
    height: 153px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 71px;
  }

  .u-section-1 .u-text-3 {
    line-height: 0.87;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1023px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 57px;
    margin-right: 71px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 81px;
    margin-right: 101px;
    margin-left: 107px;
  }

  .u-section-1 .u-image-1 {
    height: 152px;
    margin-top: -281px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 160px;
    margin-left: 302px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 18px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 16px;
    margin-right: 148px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 24px;
    margin-right: 36px;
    margin-left: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 41px;
    margin-right: -29px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 44px;
    margin-right: -83px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 79px;
    margin-right: 0;
    margin-left: 28px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -240px;
    margin-left: -21px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 130px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    line-height: 0.6;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 22px;
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 41px;
    margin-right: 18px;
    margin-left: -17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-1 .u-group-1 {
    min-height: 832px;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 56px;
    margin-right: -55px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 153px;
    height: 84px;
    margin-top: -160px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-2 {
    height: auto;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 349px;
}

.u-section-2 .u-list-1 {
  width: 383px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 287px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 43px 25px 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -48px auto 0 58px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: 66px 25px 0 5px;
}

.u-section-2 .u-list-2 {
  width: 383px;
  margin: -339px auto 0 331px;
}

.u-section-2 .u-repeater-2 {
  min-height: 350px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 19px 49px 0 68px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -49px auto 0 68px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 54px 0 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -320px 308px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -48px 0 0 832px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 90px 20px 60px auto;
  padding: 13px 31px 15px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 19px;
    margin-left: 31px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -53px;
    margin-left: 66px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 73px;
  }

  .u-section-2 .u-list-2 {
    width: 317px;
    margin-top: -338px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 354px;
  }

  .u-section-2 .u-text-3 {
    width: 266px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 52px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 70px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -315px;
    margin-right: 234px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -65px;
    margin-left: 684px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 84px;
    margin-right: 11px;
    padding: 12px 12px 13px 11px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-top: -51px;
    margin-left: 87px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 69px;
  }

  .u-section-2 .u-list-2 {
    width: 371px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-right: -18px;
    margin-left: 69px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -64px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 216px;
    margin-right: -327px;
    margin-left: 385px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -318px;
    margin-right: 236px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -64px;
    margin-right: -20px;
    margin-left: 484px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 35px;
    margin-right: 76px;
    padding-right: 6px;
    padding-left: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 329px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-2 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-top: -43px;
    margin-left: 150px;
    padding: 0;
  }

  .u-section-2 .u-text-2 {
    line-height: 0.87;
    margin-top: 18px;
    margin-right: 5px;
  }

  .u-section-2 .u-list-2 {
    width: 524px;
    margin-top: 16px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 156px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 229px;
    margin-right: -247px;
    margin-left: 364px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -48px;
    margin-right: -64px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -134px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-2 .u-icon-3 {
    height: 53px;
    width: 53px;
    margin-top: -176px;
    margin-right: auto;
    margin-left: 68px;
    padding: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -44px;
    margin-right: 68px;
    margin-left: 137px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: 30px;
    padding-right: 13px;
    padding-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 306px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-2 .u-icon-1 {
    height: 55px;
    width: 55px;
    margin-top: -40px;
    margin-left: 79px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 82px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 28px;
    margin-left: 47px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -71px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -125px;
    margin-left: -18px;
    margin-right: -18px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -93px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -39px;
    margin-right: -24px;
    margin-left: 29px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 42px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/326f08696b0f3d7a9f28b5635af38ed3.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 843px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-group-1 {
  min-height: 300px;
  height: auto;
  width: 831px;
  margin: 15px auto 0 127px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.0999999999999999;
  margin: 38px -40px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 21px 89px 0 118px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 17px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 396px;
}

.u-section-3 .u-shape-1 {
  width: 66px;
  height: 66px;
  margin: 23px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -47px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 12px 21px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0 21px;
}

.u-section-3 .u-image-1 {
  width: 357px;
  height: 98px;
  margin: 9px 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 396px;
}

.u-section-3 .u-shape-2 {
  width: 66px;
  height: 66px;
  margin: 19px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -47px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 16px 8px 0 16px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 51px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 396px;
}

.u-section-3 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-3 .u-shape-3 {
  width: 66px;
  height: 66px;
  margin: 21px auto 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -40px auto 0;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 8px 21px 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 41px 37px 0 auto;
  padding: 13px 31px 15px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 19px;
    margin-left: auto;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    width: 905px;
    margin-top: 17px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 83px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-3 .u-text-7 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-3 .u-text-9 {
    position: relative;
  }

  .u-section-3 .u-text-10 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 28px;
    margin-right: 36px;
    padding-right: 10px;
    padding-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-3 .u-image-1 {
    width: 227px;
    height: 63px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 23px;
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-3 .u-group-1 {
    min-height: 298px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -15px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-3 .u-image-1 {
    width: 276px;
    height: 105px;
    margin: 0 auto -20px 123px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 43px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 48px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
    padding: 13px 20px 15px 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-3 .u-group-1 {
    min-height: 250px;
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    line-height: 1.31;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 12px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 38px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 45px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.25rem;
    padding-right: 24px;
    padding-bottom: 14px;
    padding-left: 24px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 434px;
}

.u-section-4 .u-group-1 {
  width: 818px;
  min-height: 195px;
  height: auto;
  margin: 38px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 15px 10px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 23px 34px 0;
}

.u-section-4 .u-list-1 {
  width: 1115px;
  margin: -6px 0 50px auto;
}

.u-section-4 .u-repeater-1 {
  min-height: 157px;
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 92px;
  height: 89px;
  margin: 31px auto 0 149px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 92px;
  height: 89px;
  margin: 31px auto 0 149px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 92px;
  height: 89px;
  margin: 31px auto 0 149px;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 925px;
    margin-top: -15px;
    margin-bottom: 59px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 159px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 195px;
    grid-auto-columns: calc(33.3333% - 3.33333px);
  }

  .u-section-4 .u-image-1 {
    margin-left: 66px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 66px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 260px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-right: 35px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-group-1 {
    min-height: 199px;
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-right: 6px;
    margin-left: -6px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 38px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 166px;
  }

  .u-section-4 .u-image-1 {
    width: 60px;
    height: 58px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-2 {
    width: 60px;
    height: 58px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-3 {
    width: 60px;
    height: 58px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    font-size: 1rem;
  }
}